* {
	touch-action: manipulation;
}

td {
	padding: 20px;
	background-color: green;
}

.w,
.wall {
	background-color: grey;
}

.s {
	padding: 0px;
}

.s::before {
	content: url(./img/spawner.png);
}

.spawner {
	background-color: black;
}

.e {
	padding: 0px;
}

.e::before {
	content: url(./img/enemy.png);
}

.enemy {
	background-color: red;
}

.m,
.player1 {
	background-color: blue;
}

.n,
.player2 {
	background-color: yellow;
}

.f {
	padding: 0px;
}

.f::before {
	content: url(./img/flamethrower_ammo.png);
}

.flamethrower_ammo {
	background-color: orange;
}

.h {
	padding: 0px;
}

.h::before {
	content: url(./img/repair_package.png);
}

.health {
	background-color: white;
}

.up {
	border-top: 5px solid black;
	padding-top: 15px;
}

.left {
	border-left: 5px solid black;
	padding-left: 15px;
}

.down {
	border-bottom: 5px solid black;
	padding-bottom: 15px;
}

.right {
	border-right: 5px solid black;
	padding-right: 15px;
}

.dark_mode {
	color: white
}